{% extends "template.html" %}
{% block inputA%}
<div id="mainWindowE" style="overflow: auto;">
</div>
{% endblock %}

{% block sideWindow %}
<div id="initExplainBox" style="margin: 37.5vh 37.5vh 37.5vw 14.75vw;
height: 25vh;
width: 25vw;
background-color: black;
position: fixed;
/* margin-right: 37.5vw; */
z-index: 12;
opacity: 5;
color: white;
text-align: center;
border-radius: 10px;
border: 2px solid black;
display: grid;
align-items: center;">
    Short Definition for {{Word}}:
    <br>
    <br>
    {{list_item['shortdef'][0]}}

    <br>
    <button
        onclick="document.getElementById('initExplainBox').style.display = 'none';document.getElementById('initExplainDiv').style.display = 'none';">
        CLICK ME TO DISMISS</button>
</div>
<div id="initExplainBox" style="margin: 37.5vh 37.5vh 37.5vw 14.75vw;
height: 25vh;
width: 25vw;
background-color: black;
position: fixed;
/* margin-right: 37.5vw; */
z-index: 10;
opacity: 5;
color: white;
text-align: center;
border-radius: 10px;
border: 2px solid black;
display: grid;
align-items: center;">
    Select another item on the list to see another item. 
    <br>
    Scroll on the left side of the page to see more items in the dictionary
    <br>
    

    <br>    
</div>
{% endblock %}
{% block initScripts %}
<script src="{{url_for('static',filename='js/wordSub.js')}}"></script>
<script>
    window.addEventListener('load', () => {
        init(document.getElementById('mainWindowE'));
    });
</script>
{% endblock %}