:root {
    --top-height: 33px;
    --body-padding: 8px;
}

.window {
    height: -webkit-fill-available;
    display: inline-grid;
}

#mainWindow {
    /* width: calc(66.666vw - 8px); */
    width: calc(50vw - 8px);
    background-color: black;
    display: block;
    transition: 0.5s width;
    /* grid-column: 1/2;
    display: grid;
    grid-template-rows: repeat(auto-fit, 20%); */
    min-height: 100%;
}

#sideWindow {
    grid-column: 2/3;
    /* width: calc(33.334vw - 8px); */
    width: calc(50vw - 8px);
    background-color: white;
    transition: 0.5s width;
    border: 1px black;
}

#Window {
    display: grid;
    height: -webkit-fill-available;
}

@keyframes transitionWindow {
    from {
        /* grid-template-columns: 66.666% 33.343%; */
        grid-template-columns: 50% 50%;
    }
    to {
        grid-template-columns: 33.334% 66.666%;
    }
}

body {
    overflow-y: hidden;
}

/**/

.InputValueDiv {
    justify-content: center;
    display: grid;
}

.inputFields {
    align-self: center;
    justify-self: flex-end;
    width: 169px;
    font-size: 24px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(5, 195, 20);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider::before {
    background-color: rgb(240, 20, 20);
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/**/

.fadebox {
    height: var(--top-height);
    overflow: hidden;
}

.fadeInWord {
    text-align: center;
    display: block;
    font-size: 21px;
    font-family: sans-serif;
    line-height: var(--top-height);
    text-decoration: underline;
    transform: translateY(var(--top-height));
    animation: fadeInText 300ms 0ms forwards;
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
    cursor: pointer;
}

.fadeOutPrompt {
    animation-play-state: paused;
    animation: fadeOut 7s 0s forwards;
    opacity: 1;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeInText {
    from {
        transform: translateY(var(--top-height));
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/**/

body {
    font-family: sans-serif;
    font-size: 14px;
}

input[type='range'] {
    width: 210px;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
    outline: none;
}

input[type='range'], input[type='range']::-webkit-slider-runnable-track, input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: none;
}

input[type='range']::-webkit-slider-runnable-track {
    width: 200px;
    height: 1px;
    background: #003D7C;
}

input[type='range']:nth-child(2)::-webkit-slider-runnable-track {
    background: none;
}

input[type='range']::-webkit-slider-thumb {
    position: relative;
    height: 15px;
    width: 15px;
    margin-top: -7px;
    background: #fff;
    border: 1px solid #003D7C;
    border-radius: 25px;
    z-index: 1;
}

input[type='range']:nth-child(1)::-webkit-slider-thumb {
    z-index: 2;
}

.rangeslider {
    position: relative;
    height: 60px;
    width: 210px;
    display: inline-block;
    margin-top: -5px;
    margin-left: 20px;
}

.rangeslider input {
    position: absolute;
}

.rangeslider {
    position: relative;
}

.rangeslider span {
    position: absolute;
    margin-top: 30px;
    left: 0;
}

.rangeslider .right {
    position: relative;
    float: right;
    margin-right: -5px;
}