.window {
    height: -webkit-fill-available;
    display: inline-grid;
}

#mainWindow {
    width: calc(66.666vw - 8px);
    background-color: black;
    display: inline-grid;
    transition: 0.5s width;
    grid-column: 1/2;
    display: grid;
    grid-template-rows: repeat(auto-fit, 20%);
    min-height: 100%;
}

#sideWindow {
    grid-column: 2/3;
    width: calc(33.334vw - 8px);
    background-color: white;
    transition: 0.5s width;
    border: 1px black;
}

#Window {
    display: grid;
    height: -webkit-fill-available;
    /* //grid-template-columns: 66.666% 33.334%; */
}

@keyframes transitionWindow {
    from {
        grid-template-columns: 66.666% 33.333%;
    }
    to {
        grid-template-columns: 33.333% 66.666%;
    }
}

body {
    overflow-y: hidden;
}

/**/

body {
    font-family: sans-serif;
    font-size: 14px;
}

input[type='range'] {
    width: 210px;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
    outline: none;
}

input[type='range'], input[type='range']::-webkit-slider-runnable-track, input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: none;
}

input[type='range']::-webkit-slider-runnable-track {
    width: 200px;
    height: 1px;
    background: #003D7C;
}

input[type='range']:nth-child(2)::-webkit-slider-runnable-track {
    background: none;
}

input[type='range']::-webkit-slider-thumb {
    position: relative;
    height: 15px;
    width: 15px;
    margin-top: -7px;
    background: #fff;
    border: 1px solid #003D7C;
    border-radius: 25px;
    z-index: 1;
}

input[type='range']:nth-child(1)::-webkit-slider-thumb {
    z-index: 2;
}

.rangeslider {
    position: relative;
    height: 60px;
    width: 210px;
    display: inline-block;
    margin-top: -5px;
    margin-left: 20px;
}

.rangeslider input {
    position: absolute;
}

.rangeslider {
    position: relative;
}

.rangeslider span {
    position: absolute;
    margin-top: 30px;
    left: 0;
}

.rangeslider .right {
    position: relative;
    float: right;
    margin-right: -5px;
}